* {
	margin: 0px;
	padding: 0px;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	font-weight: normal;
}

body,dl,ol,ul,li,dt,dd,p,h1,h2,h3,h4 {
	list-style: none;
	-webkit-text-size-adjust: none;
}

body {
	line-height: 1.5;
	font-size: 12px;
	color: #333;
	font-family: arial, Helvetica, sans-serif;
	background: whiteSmoke;
	background-image: url("../images/bg.gif");
}

a {
	color: #2BA7E8;
	/**color: #329ECC;*/
	/**color: #2ba7e8;*/
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

.loading {
	display: block;
	width: 100%;
	height: 120px;
	background-image: url("../images/blue-loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.red {
	color: red;
}

.win-970 {
	width: 970px;
	margin: 0 auto;
}

.win-990 {
	width: 990px;
	margin: 0 auto;
}

/**---------------------*/
b,strong,caption,th,thead,dt,legend {
	font-weight: bold;
}

cite,dfn,em,i {
	font-style: italic;
}

/**---------------------*/
.form-css {
	padding: 15px;
}

.form-css .item-tit {
	text-align: right;
	height: 50px;
	width: 95px;
}

.form-css .input-css {
	width: 240px;
}

.form-css .direc {
	padding-left: 8px;
}

.form-css p {
	margin-top: 1em;
}

.form-css li {
	margin-top: 1em;
	float: left;
	width: 100%;
}

.form-css .lab-css {
	display : inline-block;
	width: 150px;
	vertical-align: middle;
	text-align: right;
}

.form-css .ipt-css {
	width: 220px;
}

.form-css .prompt {
	margin-left: 5px;
}

label.required:before {
	content: "*";
	color: red;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

form {
	overflow: auto;
}

/**---------------------*/
input,select {
	vertical-align: middle;
	display: inline-block;
}

input:focus,textarea:focus,select:focus {
	outline-width: 0; /* No outline border for Safary */
}

input[type="text"],input[type="password"],input[type="select"],input[type="search"],input[type="file"],textarea,select
	{
	border-color: #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	color: #777;
}

textarea {
	line-height: 18px;
	overflow: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea.small {
	height: 5.5em;
}

textarea.medium {
	height: 10em;
}

textarea.large {
	height: 20em;
}

input.half,select.half,textarea.half {
	width: 50%;
}

input.full,select.full,textarea.full {
	width: 97%;
}

input.title {
	font-size: 20px;
}

input[type="submit"],input[type="reset"],input[type="button"] {
	margin-bottom: 0;
}

input:focus,textarea:focus {
	-moz-box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	box-shadow: 0 1px 1px rgba(196, 196, 196, 0.5);
	-webkit-focus-ring-color: none;
	border-color: #c4c4c4;
	background-color: #FFFFF0;
}

/** Boxes------------------------------------------------------ */
.box {
	padding: 8px;
	margin-bottom: 8px;
	color: #555;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.box-info {
	padding-left: 32px;
	border-top: 1px solid #B8E2FB;
	border-bottom: 1px solid #B8E2FB;
	background: #E8F6FF url("../images/information.png") no-repeat 8px 50%;
}

.box-warning {
	padding-left: 32px;
	border-top: 1px solid #F2DD8C;
	border-bottom: 1px solid #F2DD8C;
	background: #FFF5CC url("../images/error.png") no-repeat 8px 50%;
}

.box-error {
	padding-left: 32px;
	border-top: 1px solid #F8ACAC;
	border-bottom: 1px solid #F8ACAC;
	background: #FFD1D1 url("../images/exclamation.png") no-repeat 8px 50%;
}

.box-error-msg {
	margin-top: -8px;
	background: #FFF1F1;
	border-top: 0 none;
	border-bottom: 1px solid #FDDCDC;
	color: #664B4B;
	padding: 12px;
}

.box-error-msg ol {
	margin-top: 0;
	margin-bottom: 0;
}

.box-error-msg ol li { /**list-style:decimal;*/
	margin-top: 0;
	margin-bottom: 0;
	float: none;
}

.box-success {
	padding-left: 32px;
	border-top: 1px solid #BBDF8D;
	border-bottom: 1px solid #BBDF8D;
	background: #EAF7D9 url("../images/accept.png") no-repeat 8px 50%;
}

.box a:hover {
	background: transparent !important;
}

.bc_check {
	display: block;
	float: left;
	width: 14px;
	height: 14px;
	margin: 8px 0 0 0;
	cursor: pointer;
}

.bc_lab {
	display: block;
	float: left;
	margin: 7px 25px 0 5px;
	cursor: pointer;
}

.bc-dlu {
	float: left;
	height: 32px;
}

/** Gegeral CSS----------------------------- */
.left-css {
	float: left;
}

.legend-css {
	font-size: 18px;
	color: #4D5762;
	font-style: normal;
	font-weight: bolder;
}

.h1-css {
	font-size: 18px;
	color: #4D5762;
	font-style: normal;
	font-weight: bolder;
}

.width-css {
	width: 98%;
}

.top-css {
	margin-top: 10px;
}

.bgcolor-css {
	background-color: white;
}

.foot-css {
	text-align: center;
	padding: 18px;
}

.foot-css-1 {
	margin-top: 30px;
	border-top: 1px solid #E22C37;
	background-color: #FFF;
	border-bottom: 1px solid #DFDFDF;
}

.foot-css-1 .content-1 {
	float: left;
	padding: 15px;
}
.foot-css-1 .content-1 .brand-ligth {
	margin-bottom: 15px;
}

.foot-css-1 .content-1 .icon-group li {
	float: left;
	width: 40px;
	margin-right: 8px;
	position: relative;
}

.foot-css-1 .content-1 .icon-group li a {
	display: block;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}

.foot-css-1 .content-1 .icon-group li a i {
	display: block;
	margin-bottom: 5px;
	width: 40px;
	height: 40px;
	background-image: url("../images/xzheg-imgs.png");
	background-repeat: no-repeat;
}

.foot-css-1 .content-1 .icon-group .weibo i {
	background-position: 0 -311px;
}

.foot-css-1 .content-1 .icon-group .weixin i {
	background-position: -41px -311px;
}

.foot-css-1 .content-1 .icon-group .laiwang i {
	background-position: -81px -311px;
}

.foot-css-1 .content-1 .icon-group .weitao i {
	background-position: -121px -311px;
}

.foot-css-1 .content-1 .icon-group .code-img {
	position: absolute;
	width: 166px;
	height: 292px;
	top: -296px;
	right: -62px;
	z-index: 9;
	background-image: url("../images/ewm-img.gif");
}

.foot-css-1 .content-1 .icon-group .code-img .erweima {
	width: 156px;
	height: 275px;
	margin:5px 5px 10px 5px;
	border:0px solid #000;
	background-color: white;
}

.foot-css-1 .content-1 .icon-group .code-img .weibo-o {
	background-image: url("../images/erweima/weibo.jpg");
}

.foot-css-1 .content-1 .icon-group .code-img .weixin-o {
	background-image: url("../images/erweima/weixin.jpg");
}

.foot-css-1 .content-1 .icon-group .code-img .laiwang-o {
	background-image: url("../images/erweima/laiwang.jpg");
}

.foot-css-1 .content-1 .icon-group .code-img .weitao-o {
	background-image: url("../images/erweima/weitao.jpg");
}

.foot-css-1 .content-2 {
	float: left;
	padding: 15px;
	/*border-left: 1px solid #DFDFDF;*/
	min-height: 120px;
}

.foot-css-1 .content-2 dl dt, .foot-css-1 .content-2 dl dd {
	height: 22px;
}

.foot-css-1 .content-2 dl {
	float: left;
	margin-right: 28px;
	font-size: 12px;
	line-height: 22px;
	color: #656565;
}

.foot-css-1 .content-2 dl dt {
	font-size: 14px;
	font-weight: 900;
}

.foot-css-1 .content-2 dl dd{
	color: #656565;
}

.color-css {
	color: #999;
}

/** Button----------------------------- */
.btn {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#e6e6e6', GradientType = 0 );
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : dximagetransform.microsoft.gradient ( enabled = false )
		;
	border: 1px solid #cccccc;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.bc_butn_a {
	background-position: 0 0;
}

.bc_butn_a,.bc_butn_b,.bc_butn_c,.bc_butn_d {
	height: 32px;
	background: url(../images/bd2.gif) 0 0 no-repeat;
	display: inline-block;
	padding: 0 0 0 5px;
	line-height: 32px;
	cursor: pointer;
	line-height: 35px 9;
	overflow: hidden;
}

.butn_a {
	background-position: right -33px;
}

.butn_a,.butn_b,.butn_c,.butn_d {
	background: url(../images/bd2.gif) right -33px;
	display: inline-block;
	height: 32px;
	color: white;
	font-size: 14px;
	padding: 0 34px 0 30px;
	word-spacing: .5em;
	cursor: pointer;
}

.butn_b {
	background-position: right -372px;
	padding: 0 24px 0 20px;
}

.bc_butn_b {
	background-position: 0 -338px;
	_float: left;
}

.butn_c {
	background-position: right -167px;
	color: #999;
	cursor: auto;
}

.bc_butn_c {
	background-position: 0 -133px;
	cursor: auto;
}

.butn_d {
	background-position: right -235px;
}

.bc_butn_d {
	background-position: 0 -201px;
}

/**Form************/
.ul-hd {
	padding-top: 40px;
	clear: both;
	width: 100%;
}

.ul-hd li {
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

.ul-hd .rtable-t {
	height: 30px;
	line-height: 30px;
	width: 95px;
	color: #666;
	text-align: right;
	font-family: SimSun;
	word-spacing: .3em;
	font-size: 14px;
}

.ul-hd .rtable-lnow {
	float: left;
	line-height: 0;
	height: 16px;
}

.ul-hd .rt-b {
	color: #FE0000;
	font-size: 12px;
}

.ul-hd .li-input {
	width: 240px;
	height: 27px;
	float: left;
	border: 1px solid #AAA;
	line-height: 27px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	padding: 0 5px;
	font-size: 14px;
}

.ul-hd .li-prompt {
	margin-left: 18px;
}

.ul-hd .li-info {
	float: left;
	width: 260px;
}

.li-fail-span,.li-fail-spanb,.li-ok-span,.li-okb-span,.li-gray-span {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #f00;
	background: url(../images/bd3.gif) left -103px no-repeat;
	padding-left: 23px;
}

.li-gray-span {
	background: none;
	color: #888;
	padding: 0;
}

.li-ok-span {
	background-position: left -136px;
}

.li-select {
	float: left;
	height: 27px;
	border: 1px solid #AAA;
	line-height: 27px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-size: 14px;
}

.li-textarea {
	display: block;
	float: left;
	width: 250px;
	height: 60px;
}

.bc_lab_2 {
	display: block;
	float: left;
	height: 27px;
	line-height: 27px;
	padding: 0 15px 0 5px;
}

.bg-quotation-l {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url(../images/movie.png);
	background-position: -185px 0;
}

.bg-quotation-r {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url(../images/movie.png);
	background-position: -204px 0;
}

.icon-time {
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	background: url(../images/timer.png) no-repeat;
}

/*************************/
.btn_css {
	text-align: center;
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 110%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	position: relative;
	cursor: pointer;
	border: 1px solid #ccc !important;
	background: #fff url("../images/btn-overlay.png") repeat-x !important;
}

.btn_css:hover {
	text-decoration: none;
	outline: medium none;
	border: 1px solid #329ECC !important;
	opacity: 0.9;
	-khtml-opacity: .9;
	-moz-opacity: 0.9;
	-moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.btn_css_green {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border: 1px solid #749217 !important;
	background-color: #6AB620 !important;
}

.btn_css_green:hover, .btn_css_green:focus, .btn_css_green:active {
	-moz-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
	border: 1px solid #749217 !important;
}


.btn_css_blue {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #2D69AC !important;
	background-color: #3C6ED1 !important;
}
.btn_css_blue:hover, .btn_css_blue:focus, .btn_css_blue:active {
	-moz-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	-webkit-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	border:1px solid #2D69AC !important;
}

.btn_css_red {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #AE2B2B !important;
	background-color: #D22A2A !important;
}
.btn_css_red:hover, .btn_css_red:focus, .btn_css_red:active {
	-moz-box-shadow:0 0 5px rgba(174, 43, 43, 0.9);
	-webkit-box-shadow:0 0 5px rgba(174, 43, 43, 0.9);
	box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
	border:1px solid #AE2B2B !important;
}

.help {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}